.oneMovieStyle {
  width: 300px;
  height: 600px;
  border: 1px solid rgb(244, 238, 238);
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: -2px 6px 31px -6px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: -2px 6px 31px -6px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: -2px 6px 31px -6px rgba(0, 0, 0, 0.58);
}
.oneMovieStyle p {
  margin: 0;
}
#bold {
  font-weight: bold;
}
.imageStyle {
  width: 285px;
  height: 400px;
}
.container {
  width: 100vw;
  flex-direction: row;
  align-items: center;
}
.boxcontainer {
  display: flex;
  /* background-color: red; */
  gap: 50px;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.onemovieText {
  width: 285px;
  height: 120px;
  /* border: 1px solid black; */
}
.button {
  background-color: orange;
  width: 90px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
}
.button p {
  font-size: 10px;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
#b1 {
  background-color: green;
}

#b2 {
  background-color: red;
}

#b3 {
  background-color: gray;
}
