* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.containerBox {
  width: 100vw;
  height: 100vh;
  /* height: 100vh; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
  gap: 10px;
  /* background-color: rgb(176, 172, 172); */
}
.category {
  width: 200px;
  background: white;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
  background-color: blue;
}
.product {
  /* height: 500px; */
  width: 815px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* background-color: orange; */
  justify-content: center;
  gap: 5px;
  /* background-color: orange; */
}
.oneProduct {
  width: 200px;
  background-color: white;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
}
.oneProduct img {
  width: 200px;
  height: 250px;
}
#price {
  color: red;
}
.buttonStyle {
  width: 100px;
  border: none;
  background-color: white;
}
.cart {
  background: white;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
}
.cartButton {
  width: 100px;
}
